.nav-link {
  text-decoration: none;
}
.header-main-container {
  background: #1e1e30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  min-width: 100vw;
}
.header-logo {
  line-height: 24px;
}
.header-ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}
.header-li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #f8fafc;
  line-height: 24px;
  margin-left: 30px;
}
